$colorPrimary: yellow;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
    overflow-x: hidden;
  //  overflow-y: hidden;

    @media screen and (max-width: 500px) {
        font-size: 50%; 
   }
}

body {
    /*background: $colorPrimary;*/
    line-height: 1.6;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;  
}

.loader {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url('../img/mada.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;

    transform: translateY(-100vh);


    &__subtitle {
        font-size: 3rem;
        color: white;
        opacity: 0;
        transform: translateY(10rem);
    }

    &__title {
        width: 60rem;
        height: 10rem;
        margin-bottom: 2rem;
        opacity: 1;
    }

    &__title path{
        stroke-dasharray: 600;
        animation: animate1 3s cubic-bezier(0, 0.23, 1, .1);

       
    }

    &__cta {
        opacity: 0;
       
    }
}






@keyframes animate1 {
    0% {
        opacity: 0;
        fill: none;
        stroke-dashoffset: 600;
    }

    30% {
        opacity: 10;
        stroke-dashoffset: 600;
    }

    90% {
        fill: rgba( 255, 255, 255, 0);
    }

    100% {
        opacity: 10;
        fill: rgba(255, 255, 255, 1);
        stroke-dashoffset: 0;
    }

}



/*----------utilities-----------*/


