/*------VARIABLES---------*/

    /*-----color------*/
$colorPrimary: yellow;
$colorWhite: #fff;
$colorDark: #141313;
$colorDarkTransparent: #141313c4;


   /*-----gutter-----*/
$xs : 1rem;
$sm: 2rem;
$md: 4rem;
$xl: 6rem;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
  

    overflow-x: hidden;

  // overflow-y: hidden;

 @media screen and (max-width: 500px) {
        font-size: 50%; 
   }
}

body {
    line-height: 1.6;
    overflow-x: hidden;

}

.container {

    position: relative;
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;
    grid-template-rows: max-content;
    grid-auto-rows: max-content;  
}



/*----------utilities-----------*/

    /*----TITLE-----------*/

.title--primary {
    font-size: 3rem;
    text-transform: uppercase;
}

    /*------FONT---------*/
.white {
    color: white
}



   /*-------DISPLAY------*/

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-centered-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.abs-centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}












::-webkit-scrollbar {
    width: 1rem;   
  
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(115, 116, 115); 
    border-radius: 10px;
    height: 2rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}

