.city {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    height: 100vh;
    width: 100vw;
    position: relative;
    transition: all .3s ease-in;


    &__imgContainer, &__resume {      
        height: 100%;

        
       display: none !important;
    }

    &__imgContainer {
        background:rgba(0, 0, 0, 0.473);
        width: 50%;
        overflow: hidden;
        position: relative;
    }

    &__img {
        width: 80%;
        height: 80%;
        object-fit: cover;
        border-radius: 4px;

        &--tana {
            z-index: 1;
        }

        &--toliary {
           //z-index: 2;
        }
    }

    &__resume {
        width: 50%;
        position: relative;
       // background: rgba(0, 0, 0, 0.473);
       // color: white;
      // display: none;


        &__text {
            width: 80%;
            font-size: 1.5rem;

            &__list {
                list-style: none;
                margin-top: 2rem;
                position: absolute;
                z-index: 2000;   
            }
        }

        &__bg {
            width: 40%;
            z-index: -1;       

            &__map {
                width: 100%;
                object-fit: cover;
            }

           
        }
    }
}

.test{
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    height: 100vh;
    width: 100vw;
    background: white;

    padding: 5rem 7rem;

    position: relative;

    & p {
        font-size: 1.5rem;
        width: 70%;
    }

    & img {
        width: 30rem;
        object-fit: cover;
        position: absolute;
        bottom: 0;
        right: 10rem;
    }
}

.btn--test {
    position: absolute;
    top: 10rem;
    z-index: 2000;
}


