.nav {
  width: 50vw;
  height: 8rem;
  position: fixed;
  top: 0;
  z-index: 4190;
  // box-shadow: 0px 1px 11px -1px rgba(0,0,0,0.75);
  transition: all .3s ease-in;



  


  &__layer {
    background: $colorPrimary;
    width: 100vw;
    height: 100%;
    opacity: 0;
    z-index: 4000;
  }

  &__hide {
    transform: translateY(-8rem);
  }

  & ul {
    display: flex;
    width: 100%;
    max-width: 65rem;
    justify-content: center;
    color: white;
    height: 100%;
    font-size: 1.3rem;
    list-style: none;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    position: relative;
    z-index: 100000;

    & li {
      margin: 0 3rem;
    }
  }
}
